<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Weather App by Aisultan Omarbek</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
    <div class="container">
        <fieldset>
            <form action="/" method="post">
                <input type="text" name="city" placeholder="Enter City Name" class="ghost-input">
                <input type="submit" class="ghost-button" value="Get Weather">

            </form>
            <% if(weather !== null) { %>
                <p><%= fToC(weather.main.temp) %></p>
            <% } %>
            

            <% if(error !== null) { %>
                <p><%= error %></p>
            <% } %>
        </fieldset>
    </div>

</body>
</html>